---
import { Image } from 'astro:assets';

interface Props {
  project: any;
}

const { project } = Astro.props;
---

<article class="projects_card">
  <a href={`/projects/${project.slug}`} class="projects_card_link">
    <Image
      src={project.data.cover}
      alt={project.data.title}
      class="projects_card_image"
    />

    <div class="projects_card_body">
      <p class="projects_card_meta">
        {project.data.date.toLocaleDateString('de-CH')}
      </p>

      <h2 class="projects_card_title">{project.data.title}</h2>
      <p class="projects_card_excerpt">{project.data.excerpt}</p>

      <div class="projects_tag_list">
        {project.data.tags.map((tag: string) => (
          <span class="projects_tag">{tag}</span>
        ))}
      </div>
    </div>
  </a>
</article>